*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
// /* 讓網頁上所有的標籤都加上淡藍色背景和紅框 */
// * {
//   background: rgba(0, 150, 255, 0.1) !important;
//   outline: 1px solid red !important;
// }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: $neutral-700;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.material-symbols-outlined {
  vertical-align: middle;
}
